:host >>> mat-list-item:hover {
    cursor: pointer;
    background: whitesmoke;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.col-50 {
    width: 50%;
    margin-right: 10px;
}